/* @import url(https://cdn.jsdelivr.net/gh/andrewh0/okcss@1/dist/ok.min.css); */
@import url("https://rsms.me/inter/inter.css");

/* https://www.joshwcomeau.com/shadow-palette/ */
:root {
  --shadow-color: 0deg 0% 59%;
  --shadow-elevation-medium: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0px 1.6px 1.8px -0.8px hsl(var(--shadow-color) / 0.36),
    0px 4px 4.5px -1.7px hsl(var(--shadow-color) / 0.36),
    0px 9.8px 11px -2.5px hsl(var(--shadow-color) / 0.36);
}

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffffff;
  color: #222746;
  color: #f3f6ff;
  color: white;
}

.app {
}

.content {
  margin: auto;
  max-width: 1024px;
  max-height: 1024px;
  height: 100%;
  width: 100%;
  position: relative;
  flex: 1;
}

.header {
  padding: 40px;
  position: absolute;
  bottom: 0;
}

.header__name {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.03em;
  margin: 0;
  padding: 40px;
}

.header__description {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.canvas-container {
  padding: 40px;
  height: 100%;
  user-select: none;
  touch-action: none;
}

canvas {
  touch-action: none;
}

.canvas-container > div {
  /* border-radius: 8px; */
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: "Inter var", sans-serif;
  cursor: auto;
}

p {
  margin: 0;
  padding: 0;
}

a {
  padding-right: 10px;
  cursor: pointer;
  pointer-events: all;
  color: black;
  text-decoration: none; /* no underline */
}

@media screen and (max-width: 568px) {
  .header,
  .canvas-container {
    padding: 16px;
  }
  .header__name {
    padding: 24px;
  }
  .header__name {
    font-size: 24px;
    letter-spacing: 0;
  }
  .header__description {
    font-size: 16px;
    letter-spacing: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body,
  #root {
    background: #2f84c0;
    background: #000;
  }

  .canvas-container > div {
    box-shadow: none;
  }
}

#leva__root {
  display: none;
}
